@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  --background-color: white;
  --text-color: #1c1c1c;
  --accent-color: #46abf5;
  --pane-background: #9de1ff;
  --visits-color: #343a40;
  --grey-text: #4e4e4e;
}

[data-theme="dark"] {
  --background-color: #1c1c1c;
  --text-color: white;
  --accent-color: #46abf5;
  --pane-background: #111111;
  --visits-color: #f6f6f6;
  --grey-text: #c3c3c3;
}

*:not(code) {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

img.gearIcon {
  height: 40px;
  margin-right: 10px;
}
h1.setup-app {
  display: flex;
}

.App {
  background: var(--background-color);
  color: var(--text-color);
}

.App .Home .container {
  min-height: 100vh;
  background: var(--background-color);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
}

.App .InfoPane {
  padding: 3em;
  background: var(--pane-background);
}

.App .InfoPane h1 {
  font-size: 25px;
  display: flex;
  align-items: center;
}
.App .InfoPane img {
  height: 30px;
  margin-right: 15px;
}

.App .InfoPane .container-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.App .InfoPane .container-info .main {
  font-weight: 500;
  margin: 20px 0;
  font-size: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #0d7cbc;
}

.App .InfoPane .container-info .box {
  margin-top: 20px;
  background: var(--background-color);
  border-radius: 25px;
  border: none;
  padding: 20px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.App .InfoPane .container-info .box h4 {
  font-weight: 500;
  color: #0d7cbc;
  font-size: 20px;
  padding: 10px;
}

.App .InfoPane .container-info .box li {
  padding: 3px;
  padding-left: 3px;
  font-size: 15px;
  list-style-type: none;
}

.App .InfoPane .madeBy {
  text-align: center;
  margin-top: 20px;
  color: #0d7cbc;
}

.App button {
  background: #46abf5;
  border: none;
  padding: 10px;
  color: white;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 37px;
  outline: none;
}

.App .SettingsPane {
  padding: 3em 8%;
}
.App .SettingsPane .Github-repo a {
  margin: 10px;
}

.App .SettingsPane .Page-analytics {
  margin-top: 3px;
  font-size: 14px;
  font-weight: 550;
  color: #adb5bd;
}

.App .SettingsPane #visits {
  color: var(--visits-color);
}

.App .SettingsPane .create-app-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.App .SettingsPane .create-app-container .create-app-btn {
  margin: 10px 0;
}

.App .SettingsPane h1 {
  font-size: 25px;
}

.App .SettingsPane .container-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.App .SettingsPane input,
.App .SettingsPane select {
  background: var(--background-color);
  color: var(--text-color);
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #46abf5;
  outline: none;
}

.App .SettingsPane option {
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #46abf5;
  outline: none;
}

.App .SettingsPane input:focus,
.App .SettingsPane select:focus {
  border: 2px solid #2299ee;
}

.App .SettingsPane .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 16px 0px;
}

.App .SettingsPane .SettingsHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.App .SettingsPane .Github-repo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.App .SettingsPane .Github-repo .github-links {
  margin-right: 10px;
}

.App .SettingsPane .form-container .main p {
  font-size: 0.9rem;
  color: var(--grey-text);
}

.App .SettingsPane .route p {
  font-size: 0.9rem;
  color: var(--grey-text);
}

.App .SettingsPane .route-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 15px;
}

.App .SettingsPane .route-flex .enabled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.App .SettingsPane .route-flex .enabled .head {
  margin-right: 20px;
}

.App .SettingsPane .route-flex .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.App .SettingsPane .route-flex .navigation .head {
  margin-right: 20px;
}

.App .SettingsPane .components .head-flex {
  padding: 20px 0px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.App .SettingsPane .components .head-flex button {
  font-size: 30px;
  border-radius: 100px;
  padding: 0 14px;
}

.App .SettingsPane .components .headers-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  padding: 7px 0px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
}

.App .SettingsPane .components .headers-flex .type {
  margin-left: 100px;
}

.App .SettingsPane .components .headers-flex .page {
  margin-left: 60px;
}

.delete-icon {
  padding: 0.2rem;
  border-radius: 100%;
  transition: color 0.15s ease, background-color 0.15s ease;
}

.delete-icon:hover {
  color: #ff382c;
}

.delete-icon:active {
  background-color: #ffdddd;
}

.App .SettingsPane .components .input-comp {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 7px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.App .SettingsPane .components .input-comp input[type="checkbox"] {
  margin-right: 11px;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  z-index: 100;
  position: absolute;
  right: 75px;
  top: 10px;
}

.theme-switch-wrapper span {
  margin-right: 10px;
  font-size: 1rem;
}

.toggle-text {
  position: relative;
  top: -1px;
  right: 5px;
  color: black;
}

.theme-switch {
  display: inline-block;
  height: 25.5px;
  position: relative;
  width: 45px;
}

.theme-switch input {
  display: none;
}

.slider {
  background: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider::before {
  background: #fff;
  bottom: 3px;
  content: "";
  height: 19.5px;
  left: 3px;
  position: absolute;
  transition: 0.4s;
  width: 19.5px;
}

input:checked + .slider {
  background: grey;
}

input:checked + .slider::before {
  transform: translateX(19.5px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.script {
  font-family: "Courier New", Courier, monospace !important;
  font-size: 13px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  padding: 10px 20px;
  background: var(--background-color);
}

@media only screen and (max-width: 1200px) {
  .container {
    -ms-grid-columns: 2fr 3fr !important;
    grid-template-columns: 2fr 3fr !important;
  }
}

::-moz-selection {
  color: black;
  background: #46abf5;
}

::selection {
  color: black;
  background: #46abf5;
}

::-moz-selection {
  color: black;
  background: #46abf5;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #46abf5;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #46abf5;
}
/*# sourceMappingURL=index.css.map */
