@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

*:not(code) {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

.App {
  background: #fcfcff;
}

.App .Home .container {
  height: 100vh;
  background: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
}

.App .InfoPane {
  padding: 3em;
  background: #9de1ff;
}

.App .InfoPane h1 {
  font-size: 25px;
  display: flex;
  align-items: center;
}
.App .InfoPane img {
  height: 30px;
  margin-right: 15px;
}

.App .InfoPane .container-info {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.App .InfoPane .container-info .main {
  font-weight: 500;
  margin: 20px 0;
  font-size: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #0d7cbc;
}

.App .InfoPane .container-info .box {
  margin-top: 20px;
  background: #fff;
  border-radius: 25px;
  border: none;
  padding: 20px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.App .InfoPane .container-info .box h4 {
  font-weight: 500;
  color: #0d7cbc;
  font-size: 20px;
  padding: 10px;
}

.App .InfoPane .container-info .box li {
  padding: 3px;
  padding-left: 3px;
  font-size: 15px;
  list-style-type: none;
}

.App .InfoPane .madeBy {
  text-align: center;
  margin-top: 20px;
  color: #0d7cbc;
}

.App button {
  background: #46abf5;
  border: none;
  padding: 10px;
  color: white;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 37px;
  outline: none;
}

.App .SettingsPane {
  padding: 3em 8%;
}
.App .SettingsPane .Github-repo a {
  margin: 10px;
}

.App .SettingsPane .create-app-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.App .SettingsPane .create-app-container .create-app-btn {
  margin: 10px 0;
}

.App .SettingsPane h1 {
  font-size: 25px;
}

.App .SettingsPane .container-settings {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.App .SettingsPane input,
.App .SettingsPane select {
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #46abf5;
  outline: none;
}

.App .SettingsPane option {
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #46abf5;
  outline: none;
}

.App .SettingsPane input:focus,
.App .SettingsPane select:focus {
  border: 2px solid #2299ee;
}

.App .SettingsPane .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px 0;
}

.App .SettingsPane .SettingsHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.App .SettingsPane .Github-repo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.App .SettingsPane .Github-repo .github-links {
  margin-right: 10px;
}

.App .SettingsPane .form-container .main p {
  font-size: 0.9rem;
  color: #4e4e4e;
}

.App .SettingsPane .route p {
  font-size: 0.9rem;
  color: #4e4e4e;
}

.App .SettingsPane .route-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 15px;
}

.App .SettingsPane .route-flex .enabled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.App .SettingsPane .route-flex .enabled .head {
  margin-right: 20px;
}

.App .SettingsPane .route-flex .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.App .SettingsPane .route-flex .navigation .head {
  margin-right: 20px;
}

.App .SettingsPane .components .head-flex {
  padding: 20px 0px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.App .SettingsPane .components .head-flex button {
  font-size: 30px;
  border-radius: 100px;
  padding: 0 14px;
}

.App .SettingsPane .components .headers-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  padding: 7px 0px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
}

.App .SettingsPane .components .headers-flex .type {
  margin-left: 45px;
}

.App .SettingsPane .components .input-comp {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 7px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.App .SettingsPane .components .input-comp input[type="checkbox"] {
  margin-right: 11px;
}

.script {
  font-family: "Courier New", Courier, monospace !important;
  font-size: 13px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  padding: 10px 20px;
  background: #eee;
}

@media only screen and (max-width: 1200px) {
  .container {
    -ms-grid-columns: 2fr 3fr !important;
    grid-template-columns: 2fr 3fr !important;
  }
}

::-moz-selection {
  color: black;
  background: #46abf5;
}

::selection {
  color: black;
  background: #46abf5;
}

::-moz-selection {
  color: black;
  background: #46abf5;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #46abf5;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #46abf5;
}
/*# sourceMappingURL=index.css.map */
